Data/cleaned_comfort_food.csv
Data/data.csv
Data/emotion_food_mapping.csv
Data/enriched_restaurants.csv
Data/food_coded.csv
Data/food_to_emotion_mapping.csv
Data/Full_version_Restrants - parsed_restaurants.csv
Data/halal_restaurants.csv
Data/MuslimFoodies' Halal Map of NYC.kml
Data/neb.csv
Data/Test File - Sheet1.csv
Data/updated_restaurants.csv
